---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";
import BlogDetailLayout from "../../layouts/BlogDetail.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
  </head>
  <body class="flex
    flex-col
  bg-base-950">
    <div class="sticky top-0">
      <Header />
    </div>
    <main>
      <BlogDetailLayout post={post}>
        <Content />
      </BlogDetailLayout>
    </main>
    <Footer />
  </body>
</html>
