---
import ArticleList from "../../components/ArticleList.astro";
import BaseLayout from "../../layouts/Base.astro";
---

<BaseLayout title="Blogs">
  <div class="mx-8">
    <ArticleList />
  </div>
</BaseLayout>
