---
import BaseLayout from "../layouts/Base.astro";
import ZennIcon from "../components/icons/Zenn.astro";

export type ZennArticleData = {
  id: number;
  post_type: "Article";
  title: string;
  slug: string;
  published: boolean;
  comments_count: number;
  liked_count: number;
  body_letters_count: number;
  article_type: "tech" | "idea";
  emoji: string;
  is_suspending_private: boolean;
  published_at: string;
  body_updated_at: string;
  source_repo_updated_at: string;
  path: string;
  user: {
    id: number;
    username: string;
    name: string;
    avatar_small_url: string;
  };
  publication: null;
};

const res = await fetch(
  "https://zenn.dev/api/articles?username=alliana_ab2m&order=latest",
);

if (!res.ok) {
  throw new Error("Failed to fetch data");
}

const data: { articles: ZennArticleData[] } = await res.json();
---

<BaseLayout>
  <div class="mx-auto px-4 my-4 container">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      {
        data.articles.map((v) => (
          <a href={`https://zenn.dev/${v.path}`}>
            <div class="rounded-md bg-base-200 p-4">
              <div class="flex flex-col">
                <div class="flex gap-1">
                  <ZennIcon class="mt-2" />
                  <h2 class="card-title">{v.title}</h2>
                </div>
                <div class="flex gap-1">
                  <p>
                    投稿:{" "}
                    {new Date(Date.parse(v.published_at)).toLocaleDateString(
                      "ja-JP",
                    )}
                  </p>
                  <p>
                    更新:{" "}
                    {new Date(Date.parse(v.body_updated_at)).toLocaleDateString(
                      "ja-JP",
                    )}
                  </p>
                </div>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</BaseLayout>
