---
import MainLayout from "../layouts/MainLayout.astro";
const Url = {
  github: "https://github.com/Allianaab2m",
  x: "https://x.com/ab2m_Alliana",
  discord: "https://discord.com/users/271922478182301696",
};
---

<MainLayout>
  <div class="md:flex gap-20">
    <div class="flex justify-between">
      <div class="flex-col my-auto">
        <h1
          class="mb-4
        max-w-2xl
        text-4xl
        md:text-5xl
        xl:text-6xl
        font-extrabold
        dark:text-base-paper"
        >
          Hello, I'm Alliana
        </h1>
        <div class="flex gap-12 mb-4">
          <a
            class="underline
          text-base-500 md:text-xl
          hover:text-base-700 dark:hover:text-base-300"
            href={Url.github}
          >
            Github→
          </a>
          <a
            class="underline
          text-base-500 md:text-xl
          hover:text-base-700 dark:hover:text-base-300"
            href={Url.x}
          >
            X(Twitter)→
          </a>
          <a
            class="underline
          text-base-500 md:text-xl
          hover:text-base-700 dark:hover:text-base-300"
            href={Url.discord}
          >
            Discord→
          </a>
        </div>
        <div class="grid gap-2">
          <img
            src="https://skillicons.dev/icons?i=ts,lua,c,python,go,rust,nim"
          />
          <img
            src="https://skillicons.dev/icons?i=nodejs,deno,tailwind,astro,nextjs,"
          />
          <img
            src="https://skillicons.dev/icons?i=bots,discord,neovim,bash,linux"
          />
        </div>
      </div>
    </div>
  </div>
  <h1
    class="my-4
        max-w-2xl
        text-3xl
        md:text-4xl
        xl:text-5xl
        font-extrabold
        dark:text-base-paper"
  >
    Blogs
  </h1>
  <h1
    class="my-4
        max-w-2xl
        text-3xl
        md:text-4xl
        xl:text-5xl
        font-extrabold
        dark:text-base-paper"
  >
    Works
  </h1>
  <div class="grid grid-cols-2 lg:grid-cols-4 grid-rows-2 lg:grid-rows-1">
    <a href="https://github.com/Allianaab2m/ab2m.link">
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=ab2m.link&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      />
    </a>
    <a href="https://github.com/Allianaab2m/dotfiles">
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=dotfiles&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      />
    </a>
    <a href="https://github.com/Allianaab2m/vimskey">
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=vimskey&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      />
    </a>
    <a href="https://github.com/Allianaab2m/telescope-kensaku.nvim">
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=telescope-kensaku.nvim&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      />
    </a>
  </div>
</MainLayout>
