---
import BaseLayout from "../layouts/Base.astro";
import ActivityPubIcon from "../components/icons/ActivityPub.astro";
import GithubIcon from "../components/icons/Github.astro";
import DiscordIcon from "../components/icons/Discord.astro";
import TwitterIcon from "../components/icons/Twitter.astro";
---

<BaseLayout>
  <div class="container mx-auto mt-4 px-4">
    <h2 class="text-3xl font-bold">About</h2>
    <div class="divider mt-0 mb-0"></div>
    <p>色々とアウトプットするために作成したホームページです．</p>
    <p>
      外部のブログサービスにはあんまり書かないチラシの裏みたいな内容となっています．
    </p>
    <p>
      このサイトの技術スタックはAstro + TailwindCSS + daisyUIとなっています．
    </p>
  </div>
  <div class="container mx-auto mt-4 px-4">
    <h2 class="text-3xl font-bold">Contact</h2>
    <div class="divider mt-0 mb-0"></div>
    <div class="space-y-4">
      <div class="text-xl flex space-x-2">
        <GithubIcon class="mt-1 h-6 w-6" />
        <span>GitHub</span>
        <a href="https://github.com/Allianaab2m" class="link"> Allianaab2m</a>
      </div>

      <div class="text-xl flex space-x-2">
        <DiscordIcon class="mt-1 h-6 w-6" />
        <span>Discord</span>
        <a href="https://discord.com/users/271922478182301696" class="link">
          allianaab2m
        </a>
      </div>

      <div class="text-xl flex space-x-2">
        <TwitterIcon class="mt-1 h-6 w-6" />
        <span>Twitter</span>
        <a href="https://twitter.com/ab2m_Alliana" class="link">
          @ab2m_Alliana
        </a>
      </div>
      <div>
        <div class="text-xl flex space-x-2">
          <ActivityPubIcon class="h-7 w-7 mt-0.5 -mr-1" />
          <span>ActivityPub</span>
        </div>
        <div class="space-y-4">
          <div>
            <h2 class="text-xl">
              <a href="https://misskey.backspace.fm/@alliana" class="link"
                >@alliana@misskey.backspace.fm</a
              >
            </h2>
          </div>
          <div>
            <h2 class="text-xl">
              <a href="https://misskey.io/@Alliana_ab2m" class="link"
                >@Alliana_ab2m@misskey.io</a
              >
            </h2>
            <p>最近は動かしてないです．</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
