---
import { getCollection } from 'astro:content'
import { css } from '../../styled-system/css'
const blogEntries = await getCollection('blog')
---

<a href="/blog">
  <h2
    class={css({
      fontSize: '2xl',
      fontWeight: 'semibold',
      borderLeftWidth: '2px',
      mt: '2',
      pl: '2',
    })}
  >
    Blogs
  </h2>
</a>

<ul>
  {
    blogEntries.map((blogPost) => (
      <li>
        <a class={css({ fontSize: 'xl' })} href={`/blog/${blogPost.slug}`}>
          {blogPost.data.title}
        </a>
      </li>
    ))
  }
</ul>
