---
import { css } from "../../styled-system/css";
const { title, description, href } = Astro.props;
---

<a href={href}>
  <div
    class={css({
      borderWidth: "1px",
      borderRadius: "4px",
      py: "2",
      minH: "24",
    })}
  >
    <p class={css({ fontSize: "2xl", pl: "2" })}>{title}</p>
    <p
      class={css({
        fontSize: "sm",
        mx: "2",
        color: "stone.400",
      })}
    >
      {description}
    </p>
  </div>
</a>
