<footer
  class="flex flex-col sm:flex-row
  mt-auto
  px-6
  h-12
  sm:items-center
  justify-between
  transition-colors
  bg-base-paper
  dark:bg-base-black
  dark:text-base-paper
  border-t-2
  dark:border-base-800"
>
  <p class="text-sm">Copyright © 2023 Alliana - All right reserved.</p>
  <p class="text-sm">
    Using <a class="underline" href="https://stephango.com/flexoki">Flexoki</a>
     colorscheme
  </p>
</footer>
