<footer
  class="flex flex-col sm:flex-row
  mt-auto
  px-6
  h-12
  flex-none
  sm:items-center
  justify-between
  transition-colors
  bg-base-black
  text-base-paper
  border-t-2
  dark:border-base-800"
>
  <p class="text-sm">Copyright © 2024 Alliana - All right reserved.</p>
  <p class="text-sm">
    Using <a class="underline" href="https://stephango.com/flexoki">Flexoki</a>
    colorscheme
  </p>
</footer>
