---
import MisskeyIcon from "./icons/Misskey.astro";
import DiscordIcon from "./icons/Discord.astro";
import GithubIcon from "./icons/Github.astro";
import TwitterIcon from "./icons/Twitter.astro";
---

<footer class="footer items-center p-4 bg-base-200 text-neutral-content">
  <div class="item-center grid-flow-col">
    <p>Copyright © 2023 Alliana - All right reserved.</p>
  </div>
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://misskey.backspace.fm/@alliana">
      <MisskeyIcon class="h-6 w-6" />
    </a>
    <a href="https://discord.com/users/271922478182301696">
      <DiscordIcon class="h-6 w-6" />
    </a>
    <a href="https://github.com/Allianaab2m">
      <GithubIcon class="h-6 w-6" />
    </a>
    <a href="https://twitter.com/ab2m_Alliana">
      <TwitterIcon class="h-6 w-6" />
    </a>
  </div>
</footer>
