<div class="navbar h-10 bg-primary text-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl">ab2m.link</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/articles" class="text-lg">Articles</a></li>
      <li><a href="/blogs" class="text-lg">Blogs</a></li>
      <!-- <li><a href="/notes" class="text-lg">Notes</a></li> -->
    </ul>
  </div>
</div>
