---

---

<div
  class="px-4 mx-auto
        prose
        md:prose-2xl
        lg:prose-xl
        xl:prose-base
        2xl:prose-sm
        max-w-3xl
        prose-p:text-base-100
        prose-p:text-left
        prose-a:text-cyan
        prose-h1:font-bold
        prose-h1:text-xl
        prose-img:rounded-xl
        prose-headings:underline
        prose-headings:text-base-paper
        prose-li:text-base-paper
        prose-code:text-base-300"
>
  <slot />
</div>
