---
const { name, repo } = Astro.props;
---

<a href=`https://github.com/${name ? name : "Allianaab2m"}/${repo}`>
  <img
    src=`https://github-readme-stats.vercel.app/api/pin/?username=${name ? name : "Allianaab2m"}&repo=${repo}&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0`
    alt=`${repo} repository link card`
  />
</a>
