---
import BaseLayout from "../../layouts/Base.astro";
import LinksLayout from "../../layouts/Links.astro";
---

<BaseLayout title="Links">
  <h1
    class="my-4
        max-w-2xl
        text-2xl
        md:text-3xl
        xl:text-4xl
        font-extrabold
      text-base-paper"
  >
    Links
  </h1>
  <LinksLayout />
</BaseLayout>
