---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<style>
  .entry :global(h1) {
    @apply text-4xl font-bold;
  }
  .entry :global(h2) {
    @apply text-lg font-bold underline underline-offset-4 before:content-['##_'] before:text-base-600;
  }
  .entry :global(h3) {
    @apply font-bold before:content-['###_'] before:text-base-600;
  }

  .entry :global(li) {
    @apply list-disc ml-8;
  }

  .entry :global(p) {
    @apply my-1;
  }
</style>

<MainLayout>
  <div class="my-4 text-base-black dark:text-base-paper">
    <div class="entry">
      <h1>{post.data.title}</h1>
      <time datetime={new Date(post.data.published_at).toISOString()}>
        公開日: {
          new Intl.DateTimeFormat("ja-JP").format(
            Date.parse(post.data.published_at)
          )
        }
      </time>
      <div class="border mb-4"></div>
      <Content />
    </div>
  </div>
</MainLayout>
