---
import BaseLayout from "../../layouts/Base.astro";
const articles = await Astro.glob("./*.mdx");
---

<BaseLayout>
  <div class="mx-auto px-4 my-4 container">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      {
        articles.map(a => (
          <a href={`${a.url}`}>
            <div class="rounded-md bg-base-200 p-4">
              <div class="flex flex-col">
                <div class="flex gap-1">
                  <h2 class="card-title">{a.frontmatter.title}</h2>
                </div>
                <div class="flex gap-1">
                  <p>
                    投稿:{" "}
                    {new Date(
                      Date.parse(a.frontmatter.published_at)
                    ).toLocaleDateString("ja-JP")}
                  </p>
                </div>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</BaseLayout>
