---
import { css } from "../../../styled-system/css";
import { grid } from "../../../styled-system/patterns";
import Card from "../card.astro";
---

<h2
  class={css({
    fontSize: "2xl",
    fontWeight: "semibold",
    borderLeftWidth: "2px",
    pl: "2",
  })}
>
  Blogs
</h2>
<div
  class={grid({
    my: "2",
    gridTemplateColumns: "1",
    sm: { gridTemplateColumns: "2" },
  })}
>
  <Card
    title="Pulsate"
    description="Easy-to-change, faster, developer friendly next generation decentralized social media."
    href="https://github.com/pulsate-dev/pulsate"
  />
  <Card
    title="ab2m.link"
    description="This portfolio's source code.(Astro + TypeScript)"
    href="https://github.com/Allianaab2m/ab2m.link"
  />
  <a href="/blogs">See more→</a>
</div>
