---
import { css } from '../../../styled-system/css'
import Card from '../card.astro'
---

<h2 class={css({ fontSize: '2xl', fontWeight: 'semibold', borderLeftWidth: '2px', pl: '2' })}>Works</h2>
<Card title="Foo" description="Bar" href="/" />
