---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/ibm-plex-sans-jp/400.css";
import "@fontsource/ibm-plex-sans-jp/700.css";
import "./base.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>ab2m.link</title>
  </head>
  <body class="flex flex-col h-screen justfy-between">
    <Navbar />
    <div class="mb-auto mx-8 md:mx-12 lg:mx-48">
      <slot />
    </div>
    <Footer />
  </body>
</html>
