---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/ibm-plex-sans-jp/400.css";
import "@fontsource/ibm-plex-sans-jp/700.css";
const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {title ? <title>{title} - ab2m.link</title> : <title>ab2m.link</title>}
  </head>
  <body
    class="flex
    flex-col
    h-screen justify-between
    bg-base-paper
    dark:bg-base-950
    dark:text-paper
    transition-colors
    duration-300"
  >
    <script is:inline>
      if (typeof window.localStorage.getItem("theme") === "string") {
        const currentTheme = window.localStorage.getItem("theme");
        if (currentTheme === "dark") {
          document.documentElement.classList.add("dark");
        }
      }
      // localStorageになにもない時はmatchMediaで判定
      if (
        typeof window.localStorage.getItem("theme") !== "string" &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        document.documentElement.classList.add("dark");
      }
    </script>
    <Header />
    <main class="mb-auto mx-2 px-1 md:px-6">
      <slot />
    </main>
    <Footer />
  </body>
</html>
