---
import BaseLayout from "./Base.astro";
import "./BlogDetail.css";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <div class="mx-auto px-4 lg:px-32 my-4 container">
    <h1 class="text-3xl font-bold pt-1 items-start">{frontmatter.title}</h1>
    <div class="divider my-1"></div>
    <div class="flex flex-col justify-center items-center">
      <article
        class="max-w-none px-4 text-white prose prose-p:my-2 prose-pre:my-0 prose-pre:mb-4 prose-code:rounded prose-ul:my-2 prose-headings:mt-6"
      >
        <slot />
      </article>
    </div>
    <div class="divider my-1"></div>
    <a href="/blogs" class="text-lg underline">←記事一覧に戻る</a>
  </div>
</BaseLayout>
