---
import Prose from "../components/Prose.astro";
const { post } = Astro.props;
---

<div class="my-6 mx-40 flex flex-col text-center gap-4 text-base-paper">
  <h1 class="text-4xl">{post.data.emoji}</h1>
  <h1 class="text-xl md:text-2xl xl:text-3xl font-bold">
    {post.data.title}
  </h1>
  <time
    class="mt-auto"
    datetime={new Date(post.data.published_at).toISOString()}
  >
    {
      new Intl.DateTimeFormat("ja-JP").format(
        Date.parse(post.data.published_at)
      )
    }
  </time>
  <div class="border"></div>
</div>
<Prose>
  <slot />
</Prose>
