---
import ArticleList from "../components/ArticleList.astro";
const Url = {
  github: "https://github.com/Allianaab2m",
  x: "https://x.com/ab2m_Alliana",
  discord: "https://discord.com/users/271922478182301696",
};
---

<div class="mt-4 md:flex gap-20">
  <div class="flex justify-between">
    <div class="flex-col my-auto">
      <h1
        class="mb-4
        max-w-2xl
        text-4xl
        md:text-5xl
        xl:text-6xl
        font-extrabold
        dark:text-base-paper"
      >
        Hello, I'm Alliana
      </h1>
      <div class="flex gap-12 mb-4">
        <a
          class="underline
          text-cyan-light
          dark:text-cyan md:text-xl
          hover:text-cyan dark:hover:text-cyan-light"
          href={Url.github}
        >
          Github→
        </a>
        <a
          class="underline
          text-cyan-light
          dark:text-cyan md:text-xl
          hover:text-cyan dark:hover:text-cyan-light"
          href={Url.x}
        >
          X(Twitter)→
        </a>
        <a
          class="underline
          text-cyan-light
          dark:text-cyan md:text-xl
          hover:text-cyan dark:hover:text-cyan-light"
          href={Url.discord}
        >
          Discord→
        </a>
      </div>
      <div class="grid gap-2">
        <img
          src="https://skillicons.dev/icons?i=ts,lua,c,python,go,rust,nim"
          alt="My skill language logos"
        />
        <img
          src="https://skillicons.dev/icons?i=nodejs,deno,tailwind,astro,nextjs,"
          alt="My skill framework, runtime logos"
        />
        <img
          src="https://skillicons.dev/icons?i=bots,discord,neovim,bash,linux"
          alt="My other skills logos"
        />
      </div>
    </div>
  </div>
</div>
<h1
  class="my-4
        max-w-2xl
        text-3xl
        md:text-4xl
        xl:text-5xl
        font-extrabold
        dark:text-base-paper"
>
  Blogs
</h1>
<ArticleList limit={5} />
<a
  class="underline
          text-cyan-light
          dark:text-cyan md:text-xl
          hover:text-cyan dark:hover:text-cyan-light"
  href="/blog"
>
  一覧→
</a>
<h1
  class="my-4
        max-w-2xl
        text-3xl
        md:text-4xl
        xl:text-5xl
        font-extrabold
        dark:text-base-paper"
>
  Works
</h1>
<div class="grid grid-cols-2 lg:grid-cols-4 grid-rows-2 lg:grid-rows-1">
  <a href="https://github.com/Allianaab2m/ab2m.link">
    <img
      src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=ab2m.link&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      alt="ab2m.link repository link card"
    />
  </a>
  <a href="https://github.com/Allianaab2m/dotfiles">
    <img
      src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=dotfiles&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      alt="dotfiles repository link card"
    />
  </a>
  <a href="https://github.com/Allianaab2m/vimskey">
    <img
      src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=vimskey&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      alt="vimskey repository link card"
    />
  </a>
  <a href="https://github.com/Allianaab2m/telescope-kensaku.nvim">
    <img
      src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=telescope-kensaku.nvim&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      alt="telescope kensaku neovim repository link card"
    />
  </a>
</div>
