---
import ArticleList from "../components/ArticleList.astro";
import LinkLayouts from "../layouts/Links.astro";
---

<div class="mt-4 md:flex gap-20">
  <div class="flex justify-between">
    <div class="flex-col my-auto">
      <h1
        class="mb-4 text-3xl md:text-4xl xl:text-5xl text-base-paper font-extrabold"
      >
        Alliana
      </h1>
      <div class="flex gap-12 mb-4"></div>
      <div class="flex gap-4">
        <h1
          class="my-4
        max-w-2xl
        text-2xl
        md:text-3xl
        xl:text-4xl
        font-extrabold
      text-base-paper"
        >
          Links
        </h1>
        <div class="flex flex-col text-base-paper">
          <LinkLayouts limit={3} />
          <a
            class="underline text-cyan md:text-lg hover:text-cyan-light"
            href="/links"
          >
            Others
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<h1
  class="my-4
        max-w-2xl
        text-2xl
        md:text-3xl
        xl:text-4xl
        font-extrabold
      text-base-paper"
>
  Blogs
</h1>
<ArticleList limit={5} />
<a
  class="underline
          text-cyan md:text-xl
          hover:text-cyan-light"
  href="/blog"
>
  一覧→
</a>
<h1
  class="my-4
        max-w-2xl
        text-2xl
        md:text-3xl
        xl:text-4xl
        font-extrabold
        text-base-paper"
>
  Works
</h1>
<div class="grid grid-cols-2 lg:grid-cols-4 grid-rows-2 lg:grid-rows-1">
  <a href="https://github.com/Allianaab2m/ab2m.link">
    <img
      src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=ab2m.link&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      alt="ab2m.link repository link card"
    />
  </a>
  <a href="https://github.com/Allianaab2m/dotfiles">
    <img
      src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=dotfiles&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      alt="dotfiles repository link card"
    />
  </a>
  <a href="https://github.com/Allianaab2m/vimskey">
    <img
      src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=vimskey&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      alt="vimskey repository link card"
    />
  </a>
  <a href="https://github.com/Allianaab2m/telescope-kensaku.nvim">
    <img
      src="https://github-readme-stats.vercel.app/api/pin/?username=Allianaab2m&repo=telescope-kensaku.nvim&show_owner=true&bg_color=1C1B1A&text_color=FFFCF0&title_color=FFFCF0&icon_color=FFFCF0"
      alt="telescope kensaku neovim repository link card"
    />
  </a>
</div>
