---
import ArticleList from "../components/ArticleList.astro";
import RepositoryLinkCard from "../components/RepositoryLinkCard.astro";

const works = [
  { name: "pulsate-dev", repo: "pulsate" },
  { repo: "vimskey" },
  { repo: "dotfiles" },
  { repo: "ab2m.link" },
  { repo: "telescope-kensaku.nvim" },
];
---

<h1
  class="my-4
        max-w-2xl
        text-2xl
        md:text-3xl
        xl:text-4xl
        font-extrabold
      text-base-paper"
>
  Blogs
</h1>
<ArticleList limit={5} />
<a
  class="underline
          text-cyan md:text-xl
          hover:text-cyan-light"
  href="/blog"
>
  一覧→
</a>
<h1
  class="my-4
        max-w-2xl
        text-2xl
        md:text-3xl
        xl:text-4xl
        font-extrabold
        text-base-paper"
>
  Works
</h1>
<div class="flex flex-col items-center gap-4">
  {
    works.map(({ repo, name }) => (
      <RepositoryLinkCard repo={repo} name={name} />
    ))
  }
</div>
